<div class="container p-4">
    <div class="row">

        {{#each empleados}}
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <p class="m-2">
                            <label for=""><b>Cedula: </b></label>
                            {{cedula}}
                        </p>
                        <p class="m-2">
                            <label for=""><b>Sueldo: </b></label>
                            {{sueldo}}
                        </p>
                        <p class="m-2">
                            <label for=""><b>¿Es chef? : </b></label>
                            {{chef}}
                        </p>
                        <p class="m-2">
                            <label for=""><b>¿Es mesero? : </b></label>
                            {{mesero}}
                        </p>
                        <p class="m-2">
                            <label for=""><b>¿Es domiciliario? : </b></label>
                            {{domiciliario}}
                        </p>
                        <p class="m-2">
                            <label for=""><b>Id del pedido: </b></label>
                            {{pedido_id}}
                        </p>

                        <a href="/links/edit_emp/{{cedula}}" class="btn btn-secondary">Editar Empleado</a>
                        <a href="/links/delete_emp/{{cedula}}" class="btn btn-danger">Eliminar Empleado</a>
                        
                    </div>
                </div>
            </div>
        {{else}}
            <div class="col-md-4 mx-auto">
                <div class="card card-body text-center">
                    <p>No hay usuarios guardados todavía</p>
                    <a href="/links/add_emp">Crea uno</a>
                </div>
            </div>
        {{/each}}

    </div>
</div>